@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: url(./assets/bg-intro-desktop.png), hsl(0, 100%, 74%);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
h1 {
  font-weight: 700;
}

.flex__container {
  display: flex;
  margin: auto;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.container__text {
  color: #fff;
  line-height: 1.5;
  border: 1px soid black;
}

.form {
  background: #fff;
  border-radius: 10px;
  margin: 50px;
  padding: 40px;
  width: 100%;
}
.order__class {
  background: hsl(248, 32%, 59%);
  color: #fff;
  justify-content: center;
  text-align: center;
}

/* .claim__button {
  background: hsl(154, 59%, 51%);
  color: #fff;
  cursor: pointer;
  transition: all 400ms ease;
} */

.claim__button {
  background: hsl(154, 59%, 51%);
  margin: 10px;
  color: #fff;
  padding: 15px 50px;
  border-radius: 5px;
  width: 70%;
  transition: 400ms ease;
  border: 1px solid grey;
  text-align: center;
  cursor: pointer;
}
.form input {
  margin: 10px;
  padding: 15px 50px;
  border-radius: 5px;
  width: 70%;
  transition: 400ms ease;
  border: 1px solid grey;
}
.claim__button {
  padding-left: 20px;
}
.claim__button:hover {
  background: hsl(0, 100%, 74%);
  color: #fff;
  border: transparent;
}
.form__footer {
  text-align: center;
  color: black;
}
.form__footer__span {
  color: red;
}

@media screen and (max-width:1440px) {
  .flex__container {
      display: flex;
    }
    .container__form {
      display: grid;
      grid-template-columns: 1fr;
    }
}

@media screen and (max-width:375px) {
  .flex__container {
    display: grid;
    grid-template-columns: 1fr;
    
}
  
}
